certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dataclasses==0.6
fastapi
filelock==3.0.12
h11==0.12.0
idna==2.10
importlib-metadata==4.0.1
joblib==1.0.1
nltk==3.6.2
numpy==1.19.5
packaging==20.9
Pillow==8.2.0
pydantic==1.8.1
pyparsing==2.4.7
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.45
scikit-learn==0.24.1
scipy==1.5.4
sentence-transformers==1.1.0
sentencepiece==0.1.95
six==1.15.0
starlette==0.13.6
threadpoolctl==2.1.0
tokenizers==0.8.1rc2
torch==1.8.1
torchaudio==0.8.1
torchvision==0.9.1
tqdm==4.60.0
transformers==3.1.0
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.13.4
zipp==3.4.1
